name: Deploy Firebase Functions

on:
  push:
    branches:
      - master
    paths:
      - 'functions/**'            

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'

    - name: Install Firebase CLI
      run: npm install -g firebase-tools

    - name: Install dependencies
      run: npm install
      working-directory: ./functions

    - name: Set up Google Application Credentials
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/service-account.json
      run: echo "${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_JSON }}" > $GOOGLE_APPLICATION_CREDENTIALS

    - name: Deploy to Firebase
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/service-account.json
      run: firebase deploy --only functions
