name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build -t docker.io/${{ secrets.DOCKER_USERNAME }}/firebase-function:latest -f .github/workflows/DockerFile .

      - name: Log in to Docker Hub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Push Docker image
        run: docker push docker.io/${{ secrets.DOCKER_USERNAME }}/firebase-functions:latest

      - name: Deploy to Firebase
        run: docker run --rm -e GOOGLE_APPLICATION_CREDENTIALS="/app/credentials.json" -v ${{ secrets.GCP_SA_KEY }}:/app/credentials.json docker.io/${{ secrets.DOCKER_USERNAME }}/firebase-functions:latest
